--icon-color: black;
--icon-color-hover: white;
--vault-name-color: white;
--search-icon-color: white;
--search-result-background: #4b6481;
--search-clear-button-color: white;
--text-normal: white;
--text-muted: white;
--text-faint: white;
--font-ui-smaller: 14px;
--font-ui-small: 14px;
--font-ui-medium: 18px;
--sidebar-markdown-font-size: 10px;
body {
    background-image: url("C:\Users\jorda\Desktop\programming\9999.이미지 등\Pasted Image 20250403161251_856.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  